<div class="body">
    <div #post class="post" (click)="postClickHandler()">
        <div #background class="background"></div>
        <div #content class="content">
            <div class="text text--double-line text--half-width"></div>
            <div class="text text--multi-line text--full-width"></div>
            <div class="text text--single-line text--full-width"></div>

            <div class="text text--double-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--half-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--multi-line text--full-width text--only-visible-on-fullscreen"></div>

            <div class="text text--double-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--half-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--multi-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--half-width text--only-visible-on-fullscreen"></div>

            <div class="text text--double-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--multi-line text--full-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--half-width text--only-visible-on-fullscreen"></div>
            <div class="text text--single-line text--full-width text--only-visible-on-fullscreen"></div>
        </div>
    </div>
</div>
