.body {
    display: flex;
    flex-direction: column;
    gap: 4rem;

    padding-inline: var(--full-width-padding-inline);
    padding-block: var(--shell--padding);

    section {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .shapes {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            gap: 2rem;

            .shape {
                display: grid;
                place-items: center;

                width: 8rem;
                aspect-ratio: 1 / 1;

                font-size: 2.4rem;

                &.SQUARE {
                    background-color: var(--background-color);
                    color: var(--color);

                    border-radius: 0.5rem;
                }

                &.DIAMOND {
	                color: var(--color);
	                
                    position: relative;
	                
                    &::before {
                        content: '';

                        background-color: var(--background-color);
                        color: var(--color);

                        position: absolute;
                        z-index: -1;

                        width: 71%;
                        aspect-ratio: 1 / 1;

                        border-radius: 0.5rem;

                        transform: rotate(45deg);
                    }
                }

                &.CIRCLE {
                    background-color: var(--background-color);
                    color: var(--color);

                    border-radius: 999rem;
                }

                &.RED {
                    --background-color: #fc5c65;
                    --color: hsl(0, 0%, 10%);
                }

                &.ORANGE {
                    --background-color: #fd9644;
                    --color: hsl(0, 0%, 10%);
                }

                &.YELLOW {
                    --background-color: #fed330;
                    --color: hsl(0, 0%, 10%);
                }

                &.GREEN {
                    --background-color: #26de81;
                    --color: hsl(0, 0%, 10%);
                }

                &.BLUE {
                    --background-color: #45aaf2;
                    --color: hsl(0, 0%, 10%);
                }

                &.PURPLE {
                    --background-color: #a55eea;
                    --color: hsl(0, 0%, 10%);
                }
            }
        }

        .buttons {
            display: flex;
            align-items: center;
            gap: 2rem;

            button {
                background-color: var(--color--primary);
                color: var(--color--primary-opposite);

                &:active,
                &:focus {
                    background-color: var(--color--secondary);
                    color: var(--color--secondary-opposite);
                }
            }
        }
    }
}
