header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
	
	padding-inline: var(--full-width-padding-inline);
    padding-block: var(--shell--padding);

    border-bottom: 1px solid var(--color--separator);
	
    user-select: none;

    .logo {
        background-color: var(--color--header-logo-background);
        color: var(--color--header-logo-foreground);

        font-size: 2.4rem;
        font-weight: 700;

        &:hover {
            background-color: var(--color--header-logo-background--hover);
            color: var(--color--header-logo-foreground--hover);
        }
    }

    .icon-wrapper {
        position: relative;

        cursor: pointer;

        &::before {
            content: '';

            opacity: 0.1;

            position: absolute;
            top: 50%;
            left: 50%;
            z-index: -1;

            width: 100%;
            height: 100%;

            padding: 0.8em;

            border-radius: 999rem;

            transform: translate(-50%, -50%);
        }

        .icon {
            color: inherit;
        }

        &:hover {
            &::before {
                background-color: var(--color--default-foreground);
            }
        }
    }

    &.minimal {
        position: fixed;
        bottom: var(--shell--padding);
        left: var(--shell--padding);
        z-index: 1;

        border: none;

        padding: 0;

        .icon-wrapper {
            color: var(--color--default-background);

            font-size: 2.4rem;

            &::before {
                background-color: var(--color--default-foreground);
                opacity: 1;
            }

            &:hover {
                color: var(--color--default-foreground);

                &::before {
                    background-color: var(--color--default-background);
                }
            }
        }
    }
}
