<div #body class="body">
    <div class="charts">
        <div class="bar">
            <h2>Bar</h2>
            <div class="content">
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
            </div>
        </div>
        <div class="card card--1">
            <h2>Card 1</h2>
            <div class="content">
                <div class="value">23</div>
                <div class="unit">unit or caption</div>
            </div>
        </div>
        <div class="card card--2">
            <h2>Card 2</h2>
            <div class="content">
                <div class="value">815</div>
                <div class="unit">unit or caption</div>
            </div>
        </div>
        <div class="column">
            <h2>Column</h2>
            <div class="content">
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
                <div class="piece"></div>
            </div>
        </div>
        <div class="pie pie--1">
            <h2>Pie 1</h2>
            <div class="content">
                <div class="gradient"></div>
            </div>
        </div>
        <div class="pie pie--2">
            <h2>Pie 2</h2>
            <div class="content">
                <div class="gradient"></div>
            </div>
        </div>
    </div>
</div>
